/* Ajustes no container de imagens e outros elementos */
img {
    max-width: 100%;  /* Garante que as imagens se ajustem responsivamente */
    height: auto;
}

@media (max-width: 600px) {
    body {
        font-size: 15px;  /* Leve redução para telas pequenas */
    }

    /* Ajustes específicos para imagens, mantendo o layout consistente */
    .header-content img {
        width: 90px;  /* Um pouco menor, mas não exageradamente */
        height: 90px;
    }

    .eumainHome {
        width: 200px;  /* Diminuir o tamanho de forma mais controlada */
        height: 200px;
    }
}
/* Desabilitar transições em fontes e tamanhos */
* {
    transition: none !important;
}
