/* Definir fonte e tamanho padrão global */
html {
    font-size: 16px;  /* Defina um tamanho base para fontes */
}

body {
    font-family: Arial, sans-serif;  /* Defina uma fonte global */
    font-size: 1rem;  /* 1rem = 16px (tamanho base) */
    margin: 0;
    padding: 0;
}

/* Redefine o tamanho das fontes de títulos para garantir uniformidade */
h1 {
    font-size: 2rem;  /* 32px */
    margin: 0;
}

h2 {
    font-size: 1.875rem;  /* 30px */
    margin: 0;
}

p {
    font-size: 1rem;  /* 16px */
    display: block;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-left: 250px;
    margin-right: 250px;
}